dist/
node_modules/
.capacitor/
.DS_Store

# Signing - Android
android/*.keystore
android/*.jks
android/keystore.properties
android/local.properties

# Signing - iOS
*.p12
*.mobileprovision

# Build outputs
android/app/build/
android/.gradle/
ios/App/build/
ios/DerivedData/
